* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #000;
    color: #ffffff;
    
} 
html{
    scroll-behavior: smooth;
}
.border-green{
    border-top: solid 1px  #17a4ba;  
   
}

h1{
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

h2{                                         
    text-align: center;
    font-weight: 600;
    font-size: 22px;     
}
h3{
    font-weight: 600;
    font-size: 16px;   
}
.logo{
    height: 40px;
    
}
.color{
    background-color: #17a4ba;
    color: white;
}


.card{
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    height: 340px;
    width: 260px;
    background-color: #17a3b8;  

}
.img-card{
    height: 173px;
}
.card-title{
    font-weight: 600;
    font-size: 20px;
}

.bg-icon{
    background-color: #17a3b8;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.tex-icon{
    align-items: center;
   
}
.typeform{
    width:100%;
    height:400px;
}

footer{
    background-color: #17a3b8;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.img-carousel{
    width: 100%;
    height: auto;
}
#navbarNavAltMarkup {

    justify-content: flex-end;
}
.ancho{
    padding: 0 90px;
    
  
}

@media screen and (max-width: 992px){
    .ancho{
    padding: 0 10px;
 }
}
.ancho-contenedor{
    padding: 0;
    margin: 0;
}

.parrafo{
    text-align: left;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 16px;
    
}
#parrafo2{
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 0;

}

.decoration-icon{
    text-decoration: none important!;
}



